<launch>
	<node pkg="fsae_electric_vehicle" type="BAROMETRIC_PRESSURE_SENSOR" name="BAROMETRIC_PRESSURE_SENSOR"/>
	<node pkg="fsae_electric_vehicle" type="INERTIAL_MEASUREMENT_UNIT" name="INERTIAL_MEASUREMENT_UNIT"/>
	<node pkg="fsae_electric_vehicle" type="client.js" name="client"/>
  <node pkg="fsae_electric_vehicle" type="GPS.py" name="GPS"/>
</launch>
